/***
Design Values

Dark Grey - #303841
Medium Grey - #2E4750
Yellow - #F6C90E
Off White - #F7F7F7

font-family: 'Cabin Sketch', cursive;
***/

/***
ASPHALT SOLUTIONS BRANDING STYLES
***/
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;500;900&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

a {
  color: #F6C90E;
}

a:hover {
  opacity: 80%;
  text-decoration: underline;
}

.button {
  background: #F6C90E;
  color: #303841;
}

.button:hover {
  background: #F6C90E;
  opacity: 80%;
}

.margin-bottom_container-md {
  margin-bottom: 32px;
}

/***
ANNOUNCEMENT BAR
***/
.social-announcement-bar {
  background: #2E4750;
  color: #F7F7F7;
  padding: 1rem 2rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 100%;
  z-index: 9999;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-announcement-bar .announcement {
  font-weight: bold;
}

/***
HEADER
***/
  body {
    padding-top: 330px;
  }

  .sticky-shrinknav-menu {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 0;
    height: 3.75rem;
    line-height: 3.75rem;
    width: 100%;
    background-color: rgba(23, 121, 186, 0.1);
    transition: all 0.5s ease;
    z-index: 9998;
  }

  .sticky-shrinknav-menu li {
    border-radius: 2px;
    transition: all 0.3s ease;
  }

  .sticky-shrinknav-menu li:hover {
    box-shadow: 0 0 0 1px #fefefe;
  }

  .sticky-shrinknav-menu a {
    color: #fefefe;
  }

  .sticky-shrinknav-header-title {
    transition: all 0.3s ease;
    position: relative;
    -webkit-transform: translateY(-1.875rem);
        -ms-transform: translateY(-1.875rem);
            transform: translateY(-1.875rem);
    margin-bottom: 0;
    color: #fefefe;
  }

  .sticky-shrinknav-header {
    width: 100%;
    height: 300px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: url("../images/unsplash2.jpg");
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: all 0.5s ease;
  }

  body.sticky-shrinknav-wrapper {
    padding-top: 130px;
  }

  body.sticky-shrinknav-wrapper .sticky-shrinknav-header {
    height: 3.75rem;
    background: url("../images/unsplash2.jpg");
  }

  body.sticky-shrinknav-wrapper .sticky-shrinknav-header .sticky-shrinknav-header-title {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    transition: all 0.3s ease;
  }

/***
SERVICES
***/

.marketing-site-three-up {
  text-align: center;
  padding: 2rem 0;
}

.marketing-site-three-up .row {
  max-width: 900px;
}

.marketing-site-three-up .columns {
  margin-bottom: 1rem;
}

@media screen and (min-width: 40em) {
  .marketing-site-three-up .columns {
    margin-bottom: 0;
  }
}

.marketing-site-three-up .fa {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #2E4750;
}

.marketing-site-three-up-headline {
  margin-bottom: 2rem;
  font-size: 24px;
}

/***
REVIEWS
***/
@charset "UTF-8";

.featured-testimonials-section {
  background: #F7F7F7;
  padding: 2rem 1rem;
}

.featured-testimonials-section .featured-testimonials-container .orbit-previous {
  color: #2E4750;
  left: -1rem;
}

.featured-testimonials-section .featured-testimonials-container .orbit-next {
  color: #2E4750;
  right: -1rem;
}

.featured-testimonials-section .testimonial {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 1rem;
}

.featured-testimonials-section .profile-pic {
  max-width: 100px;
  border-radius: 50%;
}

.featured-testimonials-section .featured-testimonials-quotation {
  margin-left: 3rem;
  margin-bottom: 0rem;
  padding: 1rem;
  position: relative;
}

.featured-testimonials-section .featured-testimonials-quotation::before {
  content: "“";
  font-size: 5rem;
  color: #d6d6d6;
  position: absolute;
  top: -2.5rem;
  left: -1.5rem;
}

.featured-testimonials-section .featured-testimonials-quotation::after {
  content: "”";
  font-size: 5rem;
  color: #d6d6d6;
  position: absolute;
  bottom: -4rem;
  right: -.5rem;
}

@media screen and (max-width: 39.9375em) {
  .featured-testimonials-section .featured-testimonials-quotation {
    margin-left: 0;
  }
}

/***
CONTACT
***/

.contact-us-section {
  padding: 2rem;
  background: #303841;
}

.contact-us-section .contact-us-header {
  color: #F7F7F7;
  margin-bottom: 2rem;
}

@media screen and (min-width: 40em) and (max-width: 74.9375em) {
  .contact-us-section .contact-us-header {
    font-size: 32px;
  }
}

.contact-us-section .responsive-embed {
  margin-bottom: 0;
  padding-bottom: 55%;
}

.contact-us-form input[type=text],
.contact-us-form input[type=email],
.contact-us-form textarea {
  margin-bottom: 1.5rem;
}

.contact-us-form-actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-us-form-actions input[type=submit] {
  border-radius: 5000px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.contact-us-list {
  list-style-type: none;
  margin: 0;
}

.contact-us-list li a {
  color: #F6C90E;
}

.contact-us-list li::before {
  margin-right: 2rem;
  font-size: 2rem;
  vertical-align: middle;
  color: #8a8a8a;
  font-family: 'FontAwesome';
}

.contact-us-list .address::before {
  content: '\f041';
  margin-left: 0.4rem;
  margin-right: 2.3rem;
}

.contact-us-list .email::before {
  content: '\f003';
}

.contact-us-list .phone::before {
  content: '\f098';
}

/***
FOOTER
***/

.social-footer {
  padding: 1rem;
  background: #2E4750;
  color: #F7F7F7;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-footer .social-footer-icons li:last-of-type {
  margin-right: 0;
}

.social-footer .social-footer-icons .fa {
  font-size: 1.3rem;
  color: #F6C90E;
}

.social-footer .social-footer-icons .fa:hover {
  color: #F7F7F7;
  transition: color 0.3s ease-in;
}
